<div class="col">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Adcubum Links</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Projects <span class="float-right badge bg-primary">31</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Tasks <span class="float-right badge bg-info">5</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Completed Projects <span class="float-right badge bg-success">12</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Followers <span class="float-right badge bg-danger">842</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>