{% extends 'layout.html' %}

{% block style %}
<style>
    .card-atom-summary>img {
        float: left;
        width: auto;
        max-height: 128px;
        padding: 5px;
        padding-right: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <h1><a href="{{ feed.url }}" target="_blank"> <img src="{{ feed.icon }}" alt="" class="img-circle img-fluid"
                    style="width: auto; max-height: 64px;"> {{ feed.title }}</a></h1>
    </div>
    <div class="col-sm-4">
        <div class="float-sm-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Mark all as read">
                    <i class="far fa-circle"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
        </div>
    </div>
</div>


{% for entry in feed.entries %}
<div class="card card-widget">
    <div class="card-header">
        <div class="card-title"><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></div>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                <i class="far fa-circle"></i></button>
        </div>
    </div>
    <div class="card-body card-atom-summary">
        {{ entry.summary|safe }}
    </div>
</div>
{% endfor %}
{% endblock %}