{% extends 'layout.html' %}

{% block style %}
<style>
    .mailbox-subject img {
        float: left;
        width: auto;
        max-height: 128px;
        padding: 5px;
        padding-left: 1rem;
    }
</style>
{% endblock %}

{% block header %}Feeds{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#modal-default">
            Subscribe
        </button>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Subscriptions</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool">
                        <i class="fas fa-sync-alt"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="{{ url_for('feed.index') }}" class="nav-link"><i class="fas fa-inbox"></i> All </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('feed.index', filter='unread') }}" class="nav-link"><i
                                class="far fa-envelope"></i> Unread 
                                <span class="badge bg-primary float-right">{{ unread }}</span>
                            </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('feed.index', filter='starred') }}" class="nav-link"><i
                                class="fas fa-star"></i> Starred 
                                <span class="badge bg-primary float-right">{{ starred }}</span>
                            </a>
                    </li>
                    {% for feed in feeds %}
                    <li class="nav-item">
                        <a href="{{ url_for('feed.index', id=feed.id) }}" class="nav-link">
                            <img src="{{ feed.icon }}" style="width: auto; max-height: 24px;"></img>
                            {{ feed.name }}
                            <span class="badge bg-primary float-right">{{ feed.unread() }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <button type="button" class="btn btn-default btn-sm btn-read-all">
                        <i class="far fa-square"></i> Mark all as read
                    </button>
                </h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="mailbox-messages">
                    {% for entry in entries %}
                    <div class="{{ loop.cycle('bg-light', 'bg-transparent') }}">
                        <div class="row p-1">
                            <div class="col-md-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm btn-read"
                                        data-entry-id="{{ entry.id }}">
                                        {% if entry.read %}
                                        <i class="far fa-check-square"></i>
                                        {% else %}
                                        <i class="far fa-square"></i>
                                        {% endif %}
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm btn-starred"
                                        data-entry-id="{{ entry.id }}">
                                        {% if entry.starred %}
                                        <i class="fas fa-star"></i>
                                        {% else %}
                                        <i class="far fa-star"></i>
                                        {% endif %}
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm btn-share"
                                        data-entry-id="{{ entry.id }}"><i class="fas fa-share"></i></button>
                                </div>
                            </div>

                            <div class="col-md-9 pt-1">
                                <div class="mailbox-name">
                                    <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>
                                </div>
                            </div>

                            <div class="col-md-auto">
                                <div class="mailbox-date">
                                    {{ moment(entry.created_on).format('LLL') }}
                                </div>
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md">
                                <div class="mailbox-subject">{{ entry.summary|safe }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('feed.save') }}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Subscribe</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-url">URL</label>
                        <input type="url" class="form-control" id="input-url" name="url" placeholder="Enter URL"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="input-name">Name</label>
                        <input type="url" class="form-control" id="input-name" name="name" placeholder="Enter Name">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('.fa-sync-alt').click(function () {
        $.ajax({
            url: "/feed/api/refresh",
            type: "GET",
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('.btn-read-all').click(function () {
        $.ajax({
            url: '/feed/api/entry/read/all',
            type: 'POST',
            success: function (response) {
                window.location.reload(true);
            }
        })
    });

    $('.btn-read').click(function () {
        var btn = $(this);
        entryId = btn.attr("data-entry-id");
        $.ajax({
            url: '/feed/api/entry/read',
            type: 'POST',
            data: {
                'entry_id': entryId
            },
            success: function (response) {
                btn.find('i').toggleClass('fa-square fa-check-square');
            }
        })
    });

    $('.btn-starred').click(function () {
        var btn = $(this);
        entryId = btn.attr("data-entry-id");
        $.ajax({
            url: '/feed/api/entry/star',
            type: 'POST',
            data: {
                'entry_id': entryId
            },
            success: function (response) {
                btn.find('i').toggleClass('far fas');
            }
        })
    });
</script>
{% endblock %}