{% extends 'layout.html' %}

{% block style %}
<style>
    .mailbox-row-summary img {
        float: left;
        width: auto;
        max-height: 128px;
        padding: 5px;
        padding-right: 15px;
    }
</style>
{% endblock %}

{% block header %}Feeds{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Subscriptions</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                    {% for subscription in subscriptions %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="{{ subscription.feed.icon }}" style="width: auto; max-height: 24px;"></img>
                            {{ subscription.feed.title }}
                            <span class="badge bg-primary float-right">{{ subscription.feed.entries|length }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                add new feed
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Inbox</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search Mail">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="mailbox-controls">
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                    </div>
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                    <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fas fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover">
                        <tbody>
                            {% for entry in inbox %}
                            <tr>
                                <td>
                                    <div class="icheck-primary">
                                        <input type="checkbox" value="" id="check1">
                                        <label for="check1"></label>
                                    </div>
                                </td>
                                <td class="mailbox-name"><a data-toggle="collapse" href="#mailbox-row-summary-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="mailbox-row-summary-{{ loop.index }}">{{ entry.title }}</a></td>
                                <td class="mailbox-attachment"><a href="{{ entry.url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
                                <td class="mailbox-date">{{ entry.published }}</td>
                            </tr>
                            <tr class="mailbox-row-summary collapse" id="mailbox-row-summary-{{ loop.index }}">
                                <td colspan="4">
                                    {{ entry.summary|safe }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer p-0">
                <div class="mailbox-controls">
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                    </div>
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                    <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fas fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}