{% extends 'layout.html' %}

{% block style %}
<style>
    .mailbox-subject img {
        float: left;
        width: auto;
        max-height: 128px;
        padding: 5px;
        padding-left: 1rem;
    }
</style>
{% endblock %}

{% block header %}Feeds{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#modal-default">
            Subscribe
        </button>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Subscriptions</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool">
                        <i class="fas fa-sync-alt"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="{{ url_for('feed.index') }}" class="nav-link">
                            All
                        </a>
                    </li>
                    {% for feed in feeds %}
                    <li class="nav-item">
                        <a href="{{ url_for('feed.index', id=feed.id) }}" class="nav-link">
                            <img src="{{ feed.icon }}" style="width: auto; max-height: 24px;"></img>
                            {{ feed.name }}
                            <span class="badge bg-primary float-right">{{ feed.unread() }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Entries</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="mailbox-messages">
                    {% for entry in entries %}
                    <div class="{{ loop.cycle('bg-light', 'bg-transparent') }}">
                        <div class="row p-1">
                            <div class="col-md-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                            class="far fa-square"></i> </button>
                                    <button type="button" class="btn btn-default btn-sm"><i
                                            class="fas fa-star"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i
                                            class="fas fa-share"></i></button>
                                </div>
                            </div>

                            <div class="col-md-9 pt-1">
                                <div class="mailbox-name"><a href="{{ entry.url }}"
                                        target="_blank">{{ entry.title }}</a>
                                </div>
                            </div>

                            <div class="col-md-auto">
                                <div class="mailbox-date">
                                    {{ moment(entry.created_on).format('LLL') }}
                                </div>
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md">
                                <div class="mailbox-subject">{{ entry.summary|safe }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('feed.save') }}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Subscribe</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-url">URL</label>
                        <input type="url" class="form-control" id="input-url" name="url" placeholder="Enter URL"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="input-name">Name</label>
                        <input type="url" class="form-control" id="input-name" name="name" placeholder="Enter Name">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('.fa-sync-alt').click(function () {
        $.ajax({
            url: "/feed/api/refresh",
            type: "GET",
            success: function (data) {
                location.reload(true);
            }
        });
    });
</script>
{% endblock %}